.resHolder{
  background: #d0f4fa;
  height: 100vh;
}
.mainSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  width: 70px;
  margin-bottom: -40px;
  object-fit: contain;
}
.resTable{
  background-color: #06c7dc7d;
  padding: 10px;
  border-radius: 10px;
}
