<app-adminbar></app-adminbar>
<div class="resHolder">
  <div class="mainSection">
    <img src="assets/onedentLogo.png" alt="">
    <h1>Foglalások</h1>
  </div>

  <div class="resTable m-4">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Message</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Márk</td>
          <td>Fogfájás</td>
          <td>m@gmail.com</td>
          <td>06708012012</td>
          <td>2023.07.05</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bence</td>
          <td>Bölcsességfog</td>
          <td>b@gmail.com</td>
          <td>06708012012</td>
          <td>2023.07.06</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
