<ul class="nav nav-pills justify-content-center " style="align-items: center;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#section1">Főoldal</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Szolgáltatásaink</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#section2">Amit kínálunk</a></li>
      <li><a class="dropdown-item" routerLink="/reservation">Foglalás</a></li>
      <li><a class="dropdown-item" href="#section6">Orvosaink</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#section3">Rólunk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#section8">Elérhetőség</a>
  </li>
</ul>


