ul{
  // background:url("/assets/fire.gif");
  // background-repeat: no-repeat;
  // background-size: cover;
/* background: linear-gradient(45deg, #d97706,#92400e); */
background: linear-gradient(45deg, #8efbff,#148ac5);
height: 80px;

}
li{
  margin: 5px;
}
ul a
{
  color: white;
}
.nav-item .dropdown-menu{
  border: none;
  background:#0067ac;
  height: 130px;
}
.nav-item .dropdown-menu a:hover {
  background:#3c9cdc;
  border-radius: 5px;
}
a{
  color: #00008b;
}
a:hover{
  color: white;
}
[aria-current]:not([aria-current="false"]) {
  background-color: #0067ac;
  color: #8efbff;
  font-weight: 600;
}


// #a
// {
//   border: 1.2px solid blue;
//   display: flex;
//   border: 25px;
//   border-radius: 10px;
//   width: 98px;
//   font-weight: 1vh;

//   align-items: center;
//   justify-content: center;

//}

/* #as:hover{
  transform:scale(1.1);
}
#as{
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #5689c0;
  padding: 10px 30px;
  background-color:  #3498db;
  border-radius: 30px;
  color: white;
  letter-spacing: 1px;
  margin-right: 15px;
  transition: all .42s ease;
}

@media screen and (max-width: 750px){

  #a,#as{
    display: flex;
    justify-content: center;
    align-items: center;
  }


} */
