

<div class="sectionOne" id="section1">
  <div class="mainTitle">
    <p class="h1">OneDent</p>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quaerat ipsum adipisci
       officiis,tempore voluptatibus necessitatibus illum. Error, architecto reiciendis?</p>
       <div class="mainButton">
        <button routerLink="/reservation">Tovább</button>
      </div>
  </div>

  </div>

  <div class="sectionTwo" id="section2">
    <div class="serviceTitle"><h1>Szolgáltatásaink</h1></div>
    <div class="cards">

      <div class="row row-cols-2 row-cols-md-3 g-4">

        <div class="col">
          <div class="card ">
           <!--  <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card ">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button  routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
          <!--   <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button  routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
           <!--  <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button  routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button  routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
           <!--  <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="serviceButton">
              <button routerLink="/info" class="servBtn">Tudjon meg többet <i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>

    </div>

    <div class="sectionThree" id="section3">

      <div class="aboutImg">
        <img src="assets/section3.jpg" alt="">
      </div>
      <div class="aboutTitle">
        <h1>Lorem, ipsum</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
          . Vero non obcaecati eaque enim eveniet animi,
           quam eos facere distinctio rerum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste
          similique ipsum!
          Odit explicabo id aliquam repellat labore vitae quidem.</p>
           <div class="aboutButton">
            <button>Vegye fel felvelünk a kapcsolatot</button>
           </div>
      </div>

    </div>

    <div class="sectionFour">
      <div class="whyUsTitle">
        <h1>Miért minket válassz?</h1>
      </div>

      <div class="explaneHolder">
        <div class="explaneCard">
          <div class="icon"><i class="bi bi-calendar-week-fill"></i></div>
          <p class="explaneOne">Easy booking</p>
          <div class="explaneTitle">
            <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
          </div>
        </div>

        <div class="explaneCard">
          <div class="icon"><i class="bi bi-people-fill"></i></div>
          <p class="explaneOne">Experience</p>
          <div class="explaneTitle">
            <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
          </div>
        </div>

        <div class="explaneCard">
          <div class="icon"><i class="bi bi-clock"></i></div>
          <p class="explaneOne">Flexible schedule.</p>
          <div class="explaneTitle">
            <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
          </div>
          </div>

        <div class="explaneCard">
          <div class="icon"><i class="bi bi-piggy-bank"></i></div>
          <p class="explaneOne">Best price guarantee</p>
          <div class="explaneTitle">
            <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
          </div>
        </div>
      </div>
      </div>

      <div class="sectionFive">
        <div class="contactHolder">
         <div class="contactTitle">
           <h1>Jelentkezzen be hozzánk most!</h1>
         </div>
          <div class="contactBtn">
            <button routerLink="/reservation">Tovább</button>
          </div>
        </div>
      </div>


      <div class="sectionSix" id="section6">

        <div class="doctorsTitle">
          <h1>Orvosaink</h1>
        </div>

        <div class="dentistCards">

            <div class="cards">
              <div class="dentistImg"><img src="assets/dentist1.jpg" alt=""></div>
              <div class="dentistConent">
                <h5 class="card-title">Dr. Scheperd</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="cards">
              <div class="dentistImg"><img src="assets/dentist2.jpg" alt=""></div>
              <div class="dentistConent">
                <h5 class="card-title">Dr. Denis</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="cards">
              <div class="dentistImg"><img src="assets/dentist3.jpg" alt=""></div>
              <div class="dentistConent">
                <h5 class="card-title">Dr. Stefford</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
        </div>

      </div>

      <div class="sectionSeven">
        <h1>Vendégeink véleménye</h1>
      <div class="scroll">
        <div class="cardHolder">

          <div class="titleBox">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel!</p>
          </div>
        </div>

          <div class="cardHolder">
            <div class="titleBox">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel!</p>
            </div>
          </div>

            <div class="cardHolder">
              <div class="titleBox">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel!</p>
              </div>
            </div>

              <div class="cardHolder">
                <div class="titleBox">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel!</p>
                </div>
              </div>

              <div class="cardHolder">
                <div class="titleBox">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel!</p>
                </div>
              </div>
      </div>
      </div>

      <div class="sectionEight" id="section8">
      <div class="infoholder">

        <div class="info">
          <i class="bi bi-envelope-at-fill"></i>
          <a href="onedent@gmail.com">onedent@gmail.com</a>
        </div>

        <div class="info">
          <i class="bi bi-telephone-fill"></i>
          <a href="06209987654">06209987654</a>
        </div>

        <div class="info">
          <i class="bi bi-geo-alt-fill"></i>
          <a href="https://www.google.com/maps/place/Budapest,+Pipacs+u.,+1118/@47.4845243,19.0445458,17z/data=!3m1!4b1!4m6!3m5!1s0x4741dc4958a7ffe7:0xe4f1d25caa0fd7f6!8m2!3d47.4845243!4d19.0471207!16s%2Fg%2F11y1zc774?entry=ttu">Budapest, 1118 Pipacs utca 6</a>
        </div>

      </div>
      </div>

      <div class="sectionNine">
      </div>

