// Section One
.sectionOne
{
  display: flex;
  width: 100%;
  height: 650px;
  background: url('/assets/section1_images.jpg') no-repeat;
  background-size: cover;
  object-fit: contain;
}

.mainTitle{
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
padding: 20px;
width: 60%;
}

.sectionOne button{
  border: 2px solid #3076dfcf ;
  width: 200px;
  border-radius: 30px;
  margin: 10px;
  background-color: #2fa5ff00;
}

.sectionOne button:hover{
  background-color:  #3076dfea ;
  color: white;
}


// Section Two

.sectionTwo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 750px;

}
.serviceTitle{
text-align: center;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.sectionTwo .card{
  min-height: 200px;
  background-color: #CBE2F2;
  border:none;
}
.sectionTwo .servBtn{
  border: 2px solid #3076dfcf ;
  width: 200px;
  border-radius: 30px;
  margin: 10px;
  background-color: #2fa5ff00;
}
.sectionTwo .servBtn:hover{
  background-color:  #3076dfea ;
  color: white;
}

// Section Three
.sectionThree
{
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 192, 244, 0.17);
}
.aboutImg{
/*   padding: 40px; */
padding: 40px;
  width: 500px;
  height: 350px;
}
.aboutImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 10px;
}
.aboutTitle p{
  width: 400px;

}
.aboutButton button{
  border-radius: 20px;
  width: 300px;
  border: 2px solid #3076dfcf;
  background-color: #cbe2f28d;
}
.aboutButton button:hover{
  background-color:  #3076dfea ;
  color: white;
}
// Section Four
.sectionFour{

  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#3076dfcf ;
  color: white;
}
.whyUsTitle{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.explaneHolder{
  display: flex;
  flex-direction: row;
}
.icon{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.icon i{
  border: 2px white solid;
  border-radius: 50%;
  padding: 20px 27px;
  font-size: 30px;
}
.icon i:hover{
 background-color: #1e63cacf;
}

.explaneOne{
text-align: center;
}
.explaneTitle{
  display: flex;
}
.explaneTitle p{
  text-align:center;
}

// Section Five
.sectionFive{
  display: flex;
  width: 100%;
  height: 100px;
}
.contactHolder{
  background: url('/assets/section5Bg1.jpg') no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: floor($number: 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .contactBtn{
  margin-right: 50px;

}
.contactBtn button{
   border-radius: 20px;
   width: 150px;
   border: 2px solid #3076dfcf;
   background-color: #cbe2f28d;
}
.contactBtn button:hover{
  background-color:  #3076dfea ;
  color: white;
}
.contactTitle h1{
  font-weight: 600;
}


// Section Six
.sectionSix{
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(158, 192, 244, 0.17);
}
.doctorsTitle{
  text-align: center;
  margin-top: 50px;
  display: flex;

}
.doctorsTitle h1{
  font-size: 50px;
  color: #3076dfea;
}
.dentistCards{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dentistCards .cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background: #147ac638;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  transition: 0.5s;
}
.dentistCards  .cards:hover{
  height: 400px;
}

.dentistCards .cards:hover .dentistImg{
  width: 250px;
  height: 250px;
  margin-top: -80px;
  scale: 0.75;
}
.dentistImg{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 150px;
  transform: 0.5s;
  margin-top: -80px;
}
.dentistImg img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  object-fit: cover;
}
.dentistCards .cards .dentistConent{
  width: 200px;
  text-align: center;
  margin-top: 20px;
  height: 50px;
  overflow: hidden;
  color: aliceblue;
}

.dentistCards .cards:hover .dentistConent{
  margin-top: 13px;
  height: 250px;
}

.dentistCards .cards .dentistConent h5{
  font-size: 30px;
  font-weight: 600;
}
.dentistConent{

}
///section 7
.sectionSeven{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 400px;
}
.sectionSeven h1{
  text-align: center;
  margin-top: 50px;
  color: #3076dfea;
}
.scroll{
display: flex;
flex-direction: row;
overflow: hidden;
width: 900px;
min-width: 300px;
margin: 20px auto;

}
.scroll .cardHolder{
  display: flex;
  flex-shrink: 0;
  animation: scroll 15s infinite ease-in-out;

}
.titleBox{
  width: 350px;
  height: 150px;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  background-color: #CBE2F2;
}

@keyframes scroll {
  0%,
  20%{
    transform: translateX(0);
  }
  25%,
  45%{
    transform: translateX(-100%);
  }
  50%,
  70%{
    transform: translateX(-200%);
  }
  75%,
  95%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-400%);
  }
}
/// section 8
.sectionEight{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #3076dfcf;
}
.infoholder{
  display: flex;
  flex-direction: row;
}
.info{
  margin: 20px;

}
/// section 9
.sectionNine
{
  display: flex;
  width: 100%;
  height: 400px;
  background: url('/assets/map.png') no-repeat;
  object-fit: cover;
  background-size: cover;
}
.info i{
  border-radius: 50%;
  border: white solid 2px;
  padding: 10px;
  margin-right: 10px;
  color: white;
}
.info a{
  color: white;
}

